*,
html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(10, 2, 31);
    height: 100vh;
}

.container-navbar {
    background-color: blanchedalmond;
    width: 100%;
    height: 11%;
}

.ul-navbar {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 153, 0);
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(1, 1, 32);
}

.li-navbar:hover {
    background-color: rgb(224, 76, 8);
    transition: .1s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
}

.a-navbar {
    color: rgb(3, 3, 43);
    text-decoration: none;
}
.container-content {
    background-color: rgb(15, 3, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.a-content {
    background-color: aliceblue;
    color: rgb(3, 3, 51);
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: box-shadow: 10px 10px 5px 0px rgba(255, 153, 0);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 153, 0);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 153, 0);;
}
.content-1 {
    height: 40%;
    width: 50%;
}

.content-2 {
    height: 50%;
    width: 50%;
}
.container-footer {
    background-color: blanchedalmond;
    height: 14%;
}

.h1-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}